* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  float: left;
}

.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6 {
    height: 200px;
            width: 16.66%;
            float: left;
        }

        .box_1 {
            background-color: violet;
        }

        .box_2 {
            background-color: orange;
        }

        .box_3 {
            background-color: blue;
        }

        .box_4 {
            background-color: yellow;
        }

        .box_5 {
            background-color: green;
        }

        .box_6 {
            background-color: rgb(163, 183, 163);
        }
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* 0- 668px */
/* mobile devices or smaller devices */

@media screen {
.box_1,
.box_2,
.box_3,
.box_4,
.box_5,
.box_6 {
    width: 100%;
}
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/* tablet and >668 to 926px */

@media All And (min-width:668px) {

    .box_1,
    .box_2,
    .box_3,
    .box_4,
    .box_5,
    .box_6 {
        width: 50%;
        
    }
}


/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

 /* laptop devices */
        /* >926px */

        @media All And (min-width:926px){

            .box_1,
            .box_2,
            .box_3,
            .box_4,
            .box_5,
            .box_6 {
                width: 33.33%;
                
            }

        }

        /* larger devices */
        /* >1200px */

         @media screen And (min-width:1200px) {

            .box_1,
            .box_2,
            .box_3,
            .box_4,
            .box_5,
            .box_6 {
                width: 16.66%;
            }

        }   